<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>624585005297-4jh9qln8m4ltahttgdl2ioqgl9nf1mbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624585005297-4jh9qln8m4ltahttgdl2ioqgl9nf1mbs</string>
	<key>API_KEY</key>
	<string>AIzaSyBr54JnU0NgaQrlJgTwZ3xZlrWLSM4cFok</string>
	<key>GCM_SENDER_ID</key>
	<string>624585005297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>movieTalkTalk-easyTube</string>
	<key>PROJECT_ID</key>
	<string>movietalktalk-e9321</string>
	<key>STORAGE_BUCKET</key>
	<string>movietalktalk-e9321.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:624585005297:ios:7c7f2dd2c6d4e58f</string>
	<key>DATABASE_URL</key>
	<string>https://movietalktalk-e9321.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-1497706702442314~7743899510</string>
</dict>
</plist>
